[submodule "backoffice/modules/mod-5-home"]
	path = backoffice/modules/mod-5-home
	url = https://github.com/One-Shift/mod-5-home.git
[submodule "backoffice/modules/mod-4-files"]
	path = backoffice/modules/mod-4-files
	url = https://github.com/One-Shift/mod-4-files.git
[submodule "backoffice/modules/mod-6-account"]
	path = backoffice/modules/mod-6-account
	url = https://github.com/One-Shift/mod-6-account.git
[submodule "backoffice/modules/mod-7-articles"]
	path = backoffice/modules/mod-7-articles
	url = https://github.com/One-Shift/mod-7-articles.git
[submodule "backoffice/modules/mod-8-categories"]
	path = backoffice/modules/mod-8-categories
	url = https://github.com/One-Shift/mod-8-categories.git
