@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/* styling here */
@import "home-2.css";
@import "portfolio.css";
@import "modules.css";

/* LARGE DISPLAY'S */
@media (min-width: 1200px) {
	.lg-spacer150 {height: 150px;}
	.lg-spacer120 {height: 120px;}
	.lg-spacer90 {height: 90px;}
	.lg-spacer60 {height: 60px;}
	.lg-spacer30 {height: 30px;}
	.lg-spacer15 {height: 15px;}

	.lg-block150 {display: inline-block; width: 150px;}
	.lg-block120 {display: inline-block; width: 120px;}
	.lg-block90 {display: inline-block; width: 90px;}
	.lg-block60 {display: inline-block; width: 60px;}
	.lg-block30 {display: inline-block; width: 30px;}
	.lg-block15 {display: inline-block; width: 15px;}

	.lg-taleft {text-align: left;}
	.lg-tacenter {text-align: center;}
	.lg-taright {text-align: right;}
	.lg-tajustify {text-align: justify;}
}

/* DESKTOP */
@media (min-width: 992px) {
	.md-spacer150 {height: 150px;}
	.md-spacer120 {height: 120px;}
	.md-spacer90 {height: 90px;}
	.md-spacer60 {height: 60px;}
	.md-spacer30 {height: 30px;}
	.md-spacer15 {height: 15px;}

	.md-block150 {display: inline-block; width: 150px;}
	.md-block120 {display: inline-block; width: 120px;}
	.md-block90 {display: inline-block; width: 90px;}
	.md-block60 {display: inline-block; width: 60px;}
	.md-block30 {display: inline-block; width: 30px;}
	.md-block15 {display: inline-block; width: 15px;}

	.md-taleft {text-align: left;}
	.md-tacenter {text-align: center;}
	.md-taright {text-align: right;}
	.md-tajustify {text-align: justify;}
}

/* TABLET */
@media (min-width: 768px) {
	.sm-spacer150 {height: 150px;}
	.sm-spacer120 {height: 120px;}
	.sm-spacer90 {height: 90px;}
	.sm-spacer60 {height: 60px;}
	.sm-spacer30 {height: 30px;}
	.sm-spacer15 {height: 15px;}

	.sm-block150 {display: inline-block; width: 150px;}
	.sm-block120 {display: inline-block; width: 120px;}
	.sm-block90 {display: inline-block; width: 90px;}
	.sm-block60 {display: inline-block; width: 60px;}
	.sm-block30 {display: inline-block; width: 30px;}
	.sm-block15 {display: inline-block; width: 15px;}

	.sm-taleft {text-align: left;}
	.sm-tacenter {text-align: center;}
	.sm-taright {text-align: right;}
	.sm-tajustify {text-align: justify;}
}

/* MOBILE */
@media (max-width: 767px) {
	.xs-spacer150 {height: 150px;}
	.xs-spacer120 {height: 120px;}
	.xs-spacer90 {height: 90px;}
	.xs-spacer60 {height: 60px;}
	.xs-spacer30 {height: 30px;}
	.xs-spacer15 {height: 15px;}

	.xs-block150 {display: inline-block; width: 150px;}
	.xs-block120 {display: inline-block; width: 120px;}
	.xs-block90 {display: inline-block; width: 90px;}
	.xs-block60 {display: inline-block; width: 60px;}
	.xs-block30 {display: inline-block; width: 30px;}
	.xs-block15 {display: inline-block; width: 15px;}

	.xs-taleft {text-align: left;}
	.xs-tacenter {text-align: center;}
	.xs-taright {text-align: right;}
	.xs-tajustify {text-align: justify;}
}

img {
	max-width: 100%;
}

a,
button {
	-webkit-transition: all 200ms ease 0s; /* Safari */
	transition: all 200ms ease 0s;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: #333;
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

body {
	background-image: url(../images/bg-1.png);
	background-position: top center;
	background-size: auto auto;
	background-repeat: no-repeat;

	min-height: 100vh;

	font-family: "Lato", sans-serif;
	color: #b3b3b3;
}

header {
	color: #FFF;
}

header a {
	color: inherit;
}

.body > .container {
	background-color: #FFF;
}

.f-poiret-one {
	font-family: "Poiret One", sans-serif;
	font-weight: bold;
}
