.login {
	background-image: url(https://newevolutiondesigns.com/images/freebies/city-wallpaper-38.jpg);
	background-position: center center;
	background-size: cover;
}

.login .navbar.navbar-default.navbar-fixed-top {
	background-color: rgba(0,0,0,0.3);
	background-image: none;
	color: #FFF;
	border: none;
	font-size: 9pt;
}

.login .navbar-default .navbar-text {
	color: inherit;
}

.login .wrapper {
	height: calc(50% - 130px);
}

.login input {
	outline: none;
}

.login .col-md-3:nth-child(1) {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.login .img {
	text-align: center;
}

.login .img img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.login .name input {
	background-color: #fff;
	border: medium none;
	font-size: 15pt;
	line-height: 25pt;
	margin: 15px 0;
	text-align: center;
	width: 100%;
}

.login label {
	display: block;
	font-weight: 300;
	color: lightgrey;
}

.login .password input {
	border: none;
	border-bottom: 3px solid  #009688;
	background-color: #fff;
	width: 100%;
	line-height: 25pt;
	text-align: center;
	font-size: 15pt;
	font-size: 15pt;
}

.login button {
	display: none;
}

.login .col-md-3:nth-child(2) {
	background-color: #00838f;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
	color: #fff;
}
