<!DOCTYPE html>
<html lang="{c2r-lg}">
	<head>
		{c2r-head}
		<style>
			.big {
				font-size: 150px;
			}
		</style>
	</head>
	<body>
		<div class="home">
			<!-- here write the HTML code -->
			<div class="container">
				<div class="text-center">
					<h1 class="big">Oops,</h1>
					<h2>404!</h2>
					<!--h3>A página não existe.</h3-->
					<div class="text">
						<p>Parece que a página procurada não existe ou algum erro ocorreu.</p>
						<p>Clique <a href="{c2r-path}/0/{c2r-lg}/">aqui</a> para voltar</p>
					</div>
				</div>
			</div>
			<!-- Marianna Almeida - contato@agyrafa.com -->
		</div>
	</body>
</html>
