AddDefaultCharset utf-8

ErrorDocument 403 /templates/error/403.html
ErrorDocument 404 /templates/error/404.html

<IfModule dir_module>
	DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_php5.c>
	php_value display_errors off
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule ^([^/]*)/$ ?lg=$1 [QSA,L]
	RewriteRule ^([^/]*)/([^/]*)/$ ?lg=$1&pg=$2 [QSA,L]
	RewriteRule ^([^/]*)/([^/]*)/([^/]*)/$ ?lg=$1&pg=$2&a=$3 [QSA,L]
	RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([0-9]+)$ ?lg=$1&pg=$2&a=$3&i=$4 [QSA,L]
</IfModule>
