a {
	color: #00838f;
}

.btn-primary {
	color: #fff;
	background-color: #00838f;
	border-color: #007680;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #006670;
	border-color: #006670;
}

.btn-add {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn-add:hover,
.btn-add:focus {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.btn-edit {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.btn-edit:hover,
.btn-edit:focus {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512;
}

.btn-del {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.btn-save {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn-save:hover,
.btn-save:focus {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.btn-cancel {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.btn-cancel:hover,
.btn-cancel:focus {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.modal-backdrop {
	background-color: #FFF;
}
