@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

@import "colors.css";
@import "custom.css";

/* styling here */

/* LARGE DISPLAY'S */
@media (min-width: 1200px) {
	.lg-spacer150 {height: 150px;}
	.lg-spacer120 {height: 120px;}
	.lg-spacer90 {height: 90px;}
	.lg-spacer60 {height: 60px;}
	.lg-spacer30 {height: 30px;}
	.lg-spacer15 {height: 15px;}

	.lg-block150 {display: inline-block; width: 150px;}
	.lg-block120 {display: inline-block; width: 120px;}
	.lg-block90 {display: inline-block; width: 90px;}
	.lg-block60 {display: inline-block; width: 60px;}
	.lg-block30 {display: inline-block; width: 30px;}
	.lg-block15 {display: inline-block; width: 15px;}

	.lg-taleft {text-align: left;}
	.lg-tacenter {text-align: center;}
	.lg-taright {text-align: right;}
	.lg-tajustify {text-align: justify;}
}

/* DESKTOP */
@media (min-width: 992px) {
	.md-spacer150 {height: 150px;}
	.md-spacer120 {height: 120px;}
	.md-spacer90 {height: 90px;}
	.md-spacer60 {height: 60px;}
	.md-spacer30 {height: 30px;}
	.md-spacer15 {height: 15px;}

	.md-block150 {display: inline-block; width: 150px;}
	.md-block120 {display: inline-block; width: 120px;}
	.md-block90 {display: inline-block; width: 90px;}
	.md-block60 {display: inline-block; width: 60px;}
	.md-block30 {display: inline-block; width: 30px;}
	.md-block15 {display: inline-block; width: 15px;}

	.md-taleft {text-align: left;}
	.md-tacenter {text-align: center;}
	.md-taright {text-align: right;}
	.md-tajustify {text-align: justify;}
}

/* TABLET */
@media (min-width: 768px) {
	.sm-spacer150 {height: 150px;}
	.sm-spacer120 {height: 120px;}
	.sm-spacer90 {height: 90px;}
	.sm-spacer60 {height: 60px;}
	.sm-spacer30 {height: 30px;}
	.sm-spacer15 {height: 15px;}

	.sm-block150 {display: inline-block; width: 150px;}
	.sm-block120 {display: inline-block; width: 120px;}
	.sm-block90 {display: inline-block; width: 90px;}
	.sm-block60 {display: inline-block; width: 60px;}
	.sm-block30 {display: inline-block; width: 30px;}
	.sm-block15 {display: inline-block; width: 15px;}

	.sm-taleft {text-align: left;}
	.sm-tacenter {text-align: center;}
	.sm-taright {text-align: right;}
	.sm-tajustify {text-align: justify;}
}

/* MOBILE */
@media (max-width: 767px) {
	.xs-spacer150 {height: 150px;}
	.xs-spacer120 {height: 120px;}
	.xs-spacer90 {height: 90px;}
	.xs-spacer60 {height: 60px;}
	.xs-spacer30 {height: 30px;}
	.xs-spacer15 {height: 15px;}

	.xs-block150 {display: inline-block; width: 150px;}
	.xs-block120 {display: inline-block; width: 120px;}
	.xs-block90 {display: inline-block; width: 90px;}
	.xs-block60 {display: inline-block; width: 60px;}
	.xs-block30 {display: inline-block; width: 30px;}
	.xs-block15 {display: inline-block; width: 15px;}

	.xs-taleft {text-align: left;}
	.xs-tacenter {text-align: center;}
	.xs-taright {text-align: right;}
	.xs-tajustify {text-align: justify;}
}

img {
	max-width: 100%;
}

html {
	height: 100%;
	min-height: 100%;
}

body {
	color: rgba(0, 0, 0, 0.86);
	background-color: #f1f2f4;
	height: 100%;
	min-height: 100%;

	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

textarea {
	font-family: courier, sans-serif;
}

a {
	-webkit-transition: all 200ms ease 0s;
	transition: all 200ms ease 0s;
}

i {
	vertical-align: middle;
}

.btn {
	border-radius: 0;
	font-size: 14px;
	line-height: 100%;
}

.btn.btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
}

.btn.btn-lg {
	padding: 14px 30px;
}

.navbar-inverse {
	background-color: #00838f;
	border-color: #00838f;
	background-image: none;
	background: linear-gradient(141deg, #00ccff 0%, #1dcab5 51%, #37c871 75%);
}

.navbar {
	border-radius: 0;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #006064;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #006064;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

#bo-topbar {
	position: fixed;
	z-index: 1000;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border: none;
}

#bo-topbar .navbar-right {
	/*
	margin-right: -30px;
	*/
}

#bo-topbar a {}

#bo-topbar a:hover,
#bo-topbar a:focus {
	background-color: rgba(0,0,0,0.1);
}

#bo-topbar li.version a {
	background-color: rgba(0,0,0,0.05);
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#bo-topbar li.version a:hover,
#bo-topbar li.version a:focus {
	cursor: default;
}

#bo-topbar .button-help {
	color: #FFF;
	border: none;
	line-height: 16px;
}

#bo-topbar .button-help:focus {
	background-color: transparent;
}

#bo-topbar .navbar-inverse .navbar-collapse,
#bo-topbar .navbar-inverse .navbar-form ,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form{
	border-color: #0fb8ad;
}

#bo-menu {
	position: fixed;
	z-index: 900;
	top: 50px;
	left: -300px;
	width: 300px;
	height: calc(100vh - 50px);
	padding-bottom: 15px;
	background-color: #fff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}

#bo-menu #profile {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background-image: url(http://www.lirent.net/wp-content/uploads/2014/10/Android-Lollipop-Material-Design-Wallpaper-5.jpg);
	background-size: cover;
	background-position: center;
}

#bo-menu #profile img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
	padding: 10px;
	background: linear-gradient(141deg, #00ccff 0%, #1dcab5 51%, #37c871 75%);
}

#bo-menu .bo-block-list {
	height: calc(100vh - 220px);
	overflow-y: auto;
}

#bo-menu .list-group {}

#bo-menu .list-group a {
	margin-left: -15px;
	margin-right: -15px;
	border-color: rgb(245,245,245);
	border-left: none;
	border-right: none;
}

#bo-menu .list-group a:not(.ative)::first-letter {
	text-transform: capitalize;
}

#bo-menu .list-group a.active {
	background-color: #00838f;
}

#bo-menu .list-group .list-group-item:first-child {
	border-radius: 0;
	border-top: none;
}

#bo-menu .bo-rights {
	position: absolute;
	bottom: 0;
	padding: 10px 0;
	font-size: 12px;
	color: #666;
	border-top: 1px solid #EEE;
	left: 0;
}

#bo-menu .bo-rights a {
	color: inherit;
}

#bo-menu .bo-rights a:hover,
#bo-menu .bo-rights a:focus {
	text-decoration: none;
}

#bo-container {
	background-color: #fff;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	padding-top: 15px;
	padding-bottom: 15px;
}

.ads {
	border: none;
	width: 738px;
	height: 130px;
	margin: 5px auto 0;
	display: block;
}

.noscroll {
  overflow: hidden;
}

span[data-toggle=modal] {
	cursor: pointer;
}

.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger {
	padding: 15px;
}

.form-control {
	border-radius: 0;
	box-shadow: none;
}

.form-control:focus {
	border-color: #00838f;
	box-shadow: 0 0 8px rgba(0, 131, 143, .6);
}

.btn-input {
	padding: 0 15px;
	height: 34px;
	line-height: 4px;
}

.modal-content {
	border-radius: 0;
}

.modal-content .modal-header {
	color: #fff;
	background-color: #00838f;
	border-bottom-color: #007680;

	background-image: url(../images/header-bg.png);
	background-position: center -15px;
}

.nav-tabs > li > a {
	border-radius: 0;
}

.nav-tabs > li:first-child {
	margin-left: 15px;
}

.list-group-item:first-child, .list-group-item:last-child {
	border-radius: 0;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	background-color: #80c1c7;
	border-color: transparent;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
	background-color: rgba(0,131,143,0.05);
}

.resize-Y {
	resize: vertical;
}

.resize-X {
	resize: horizontal;
}

.no-resize {
	resize: none;
}
