@import "btn.css";

img {
	max-width: 100%;
}

body {
	background-color: #FFF;
	font-size: 16px;
	color: #676767;
	overflow: hidden;
}

a {
	color: #37c871;
}

a:hover, a:focus {
	color: #00ccff;
	text-decoration: none;
}

label {
	color: #676767;
	font-weight: 700;
	margin-bottom: 0px;
}

.core-container:not(form_login) input, .core-container:not(form_login) select, .core-container:not(form_login) textarea {
	border: 1px solid #32c87e !important;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
	box-shadow: inset 0 -1px 0 transparent;
	outline: 0;
}

input[type="file"] {
		display: none;
}

.content-tabs label {
	display: block;
	padding: 10px;
	background-color: #32c87e;
	color: #fff;
	font-weight: 700;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.content-tabs .form-control {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border: 1px solid #32c87e;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.content-tabs .cke_chrome {
	border: 1px solid #32c87e;
}

.content-tabs .cke_bottom {
	border-color: #32c87e;
}


.custom-file-upload {
	border: 1px solid #32c87e;
	background-color: #32c87e;
	color: #fff;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 0.25rem;
	transition: all ease-in-out 300ms;
}

.custom-file-upload:hover, .custom-file-upload:focus {
	background-color: #218838;
	border-color: #218838;
}

.helper {
	color: #676767;
	vertical-align: bottom;
	padding: 6px 12px;
}

#filedrag {
	border: 2px dashed #37c871 !important;
}

.bg-owner {
	background-color: #37c871;
	color: #fff;
	border-color: #37c871;
}

.bg-manager {
	background-color: blue;
	color: #fff;
	border-color: blue;
}

.bg-member {
	background-color: #4e4e4e;
	color: #fff;
	border-color: #4e4e4e;
}

.bg-unactive {
	background-color: #ff0000 !important;
	color: #fff;
	border-color: #ff0000 !important;
}

.b-owner img:not(.card-img-top), .b-owner:not(.avatar-placeholder) {
	border: 5px solid #37c871;
}


.b-manager img:not(.card-img-top), .b-manager:not(.avatar-placeholder) {
	border: 5px solid blue;
}

.b-member img:not(.card-img-top), .b-member:not(.avatar-placeholder) {
	border: 5px solid #4e4e4e;
}

.b-unactive img:not(.card-img-top), .b-unactive:not(.avatar-placeholder) {
	border: 5px solid #ff0000 !important;
}

.b-owner .card-content {
	background-color: #37c871;
}

.b-manager .card-content {
	background-color: #37c871;
}

.b-member .card-content {
	background-color: #4e4e4e;
}

#menu-user.dropdown-toggle::after {
	display: none;
}

#menu-user.dropdown-toggle > img {
	width: 25px;
	vertical-align: bottom;
}

.top-bar {
	padding-top: 0;
	padding-bottom: 0;
}

.top-bar-animation {
	height: 3px;
	background: linear-gradient(270deg, #00ccff, #1dcab5, #37c871);
	background-size: 600% 600%;
	-webkit-animation: topbarcoloranimation 10s ease infinite;
	-moz-animation: topbarcoloranimation 10s ease infinite;
	box-shadow: 1px 0 20px 2px rgba(0, 0, 0, 0.08);
}

.sidebar {
	display: inline-block;
	width: 270px;
	height: calc(100vh - 46px);
	box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
	overflow-y: auto;
	transition: all ease-in-out 300ms;
	position: relative;
}

.sidebar .list-group-item {
	border: none;
	padding: 12px 24px;
	color: inherit;
	position: relative;
}

.sidebar .sub-list .list-group-item {
	background-color: rgba(0,0,0,0.03);
	border-radius: 0;
	border: none !important;
}

.sidebar .nav-label {
	margin-left: 15px;
	transition: all ease-in-out 300ms;
}

.sidebar.collapsed {
	width: 80px;
}

.sidebar.collapsed .list-group-item {
	padding: 10px 30px;
}

.sidebar.collapsed .nav-label {
	display: none;
}

.sidebar-toggle {
	background-color: transparent;
	box-shadow: none;
	outline: 0;
	color: #4e4e4e;
	border: 0;
	width: 100%;
	font-size: 20px;
	margin: 10px 0px;
	position: relative;
	background-color: #fff;

}

.sidebar-toggle:focus {
	outline: 0;
}

.sidebar-toggle.toggled .fa-minus {
	display: none;
}

.sidebar-toggle.toggled .fa-plus {
	display: block;
}

.sidebar-toggle .fa-minus {
	display: block;
}

.sidebar-toggle .fa-plus {
	display: none;
}

.sub-list {
	position: relative;
}


.core-container {
	display: inline-block;
	width: calc(100% - 270px);
	vertical-align: top;
	height: calc(100vh - 50px);
	overflow-y: auto;
	transition: all ease-in-out 300ms;
}

.core-container.unleashed {
	width: calc(100% - 80px);
}

.core-body {
	width: 100%;
	min-height: calc(100% - 134px);
	padding: 0 15px;
	position: relative;
}

.core-footer {
	width: 100%;
	position: relative;
}

.authors-bar {
	height: 50px;
	width: 100%;
	box-shadow: 10px 0 20px rgba(0, 0, 0, 0.08);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 15px;
	margin-top: 30px;
	background-color: #fff;
}


.core-header {
	border-bottom: 1px solid rgba(0,0,0,0.08);
}

.core-header h3 {
	margin-top: .5rem;
}

.core-header nav {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.core-header .breadcrumb {
	background-color: inherit;
	margin-bottom: 0;
	padding: 0.9rem 1rem;
}

.core-header .breadcrumb li:first-child {
	margin-left: auto;
}

.ads {
	border: none;
	width: 738px;
	height: 130px;
	margin: 5px auto 0;
	display: block;
}

.input-view-file {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group-addon {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.bo3-form-control {
	border-color: #32c87e !important;;
}

.bo3-form-control:focus {
	border-color: #32c87e !important;
	box-shadow: 0 0 0 0.2rem rgba(50,200,126,.25) !important;
}

.bo3-form-control.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #32c87e !important;
}

.bo3-form-control .btn-light {
	border-color: #32c87e !important;
	background-color: #fff;
}

.bo3-form-control .btn-light:focus {
	border-color: #32c87e !important;
	box-shadow: 0 0 0 0.2rem rgba(50,200,126,.25) !important;
}

.bo3-form-control .bs-searchbox input {
	border-color: #32c87e !important;
}

.bo3-form-control .bs-searchbox input:focus {
	border-color: #32c87e !important;
	box-shadow: 0 0 0 0.2rem rgba(50,200,126,.25) !important;
}

.line-header {
	background-color: #676767;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	border: 1px solid #676767;
	border-top-right-radius: .25rem;
	border-top-left-radius: .25rem;
}

.line-header .block {
	padding: 10px 15px;
}

.line {
	border-left: 2px solid #676767;
	border-right: 2px solid #676767;
	border-top: 1px solid #676767;
	font-size: 14px;
	height: 40px;
	max-height: 50px;
	display: flex;
	align-items: center;
}

.line .box {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
}

.line .box p, .line .box h1 {
	margin-bottom: 0;
}

.line .box.id {
	font-weight: 700;
	color: #676767;
	justify-content: center;
}

.line .box.category-section,
.line .box.parent-nr,
.line .box.published,
.line .box.date {
	align-items: center;
	justify-content: center;
}

.line:last-child {
	border-bottom: 2px solid #676767;
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
}

.action-list {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	margin-bottom: 0;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: -1px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	transform: translateX(4px);
}

input:checked + .slider {
	background-color: #4e4e4e;
}

input:focus + .slider {
	box-shadow: 0 0 1px #4e4e4e;
}

input:checked + .slider:before {
	-webkit-transform: translateX(22px);
	-ms-transform: translateX(22px);
	transform: translateX(22px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.disabled {
	pointer-events: none;
}

#bnp-search {
	border-top-left-radius: 0.25rem !important;
	border-bottom-left-radius: 0.25rem !important;
}

.bnp-search-submit {
	border-top-right-radius: 0.25rem !important;
	border-bottom-right-radius: 0.25rem !important;
}

.form-group {
	margin-bottom: 0;
}

@media screen and (max-width: 575px) {

	.navbar-light .navbar-toggler {
		border: none !important;
		padding-left: 0;
		padding-right: 0;
	}

	.sidebar {
		margin-left: -270px;
		position: fixed;
		z-index: 1;
		background-color: #fff;
	}

	.core-container {
		width: 100%;
	}

	.core-body {
		min-height: calc(100% - 194px);
	}
}

@media screen and (max-width: 1199px) {
	.line .box {
		border-bottom: 2px solid #4e4e4e;
	}
}
