<!DOCTYPE html>
<html>
	<head>
		{c2r-head}
	</head>
	<body>
		<nav id="bo-topbar" class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a id="bo-menu-button" class="navbar-brand" href="#"><i class="fa fa-bars"></i></a>
					<a id="bo-logo" class="navbar-brand" href="#">BO3</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://www.nexus-pt.eu/" title="NexuS-Pt, work team" target="_blank"><i class="fa fa-globe"></i> <span class="hidden-sm hidden-md hidden-lg">NexuS-Pt, work team</span></a></li>
						<li><a href="http://www.nexus-pt.eu/fm" title="Support" target="_blank"><i class="fa fa-question"></i> <span class="hidden-sm hidden-md hidden-lg">Support</span></a></li>
						<li><a href="https://github.com/NexuS-Pt/" title="Github" target="_blank"><i class="fa fa-code-fork"></i> <span class="hidden-sm hidden-md hidden-lg">Github</span></a></li>
						<li><a id="logout" href="#" title="logout"><i class="fa fa-power-off" aria-hidden="true"></i> <span class="hidden-sm hidden-md hidden-lg">Logout</span></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<br/><br/><br/><br/>
				</div>
			</div>
		</div>
		<div id="bo-menu" class="container">
			<div class="row">
				<div id="profile" class="col-md-12" style="background-image: url('{c2r-background}');">
					<img src="http://www.gravatar.com/avatar/{c2r-avatar}?s=240&r=g&d=mm" alt="avatar" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="list-group">
						{c2r-menu}
					</div>
				</div>
			</div>
		</div>
		<div id="bo-container" class="container">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li><a href="{c2r-path-bo}">Home</a></li>
						<li class="active">{c2r-module-name}</li>
						{c2r-breadcrump}
					</ol>
				</div>
			</div>
			{c2r-module}
			{c2r-uninstall}
			<!--
			<div class="jumbotron">
				<h1>My First Bootstrap Page</h1>
				<p>Resize this responsive page to see the effect!</p>
			</div>
			<div class="row">

				<div class="col-sm-4">
					<h3>Column 1</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
				</div>
				<div class="col-sm-4">
					<h3>Column 2</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
				</div>
				<div class="col-sm-4">
					<h3>Column 3</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h2>Inline form with .sr-only class</h2>
					<p>Make the viewport larger than 768px wide to see that all of the form elements are inline, left aligned, and the labels are alongside.</p>
					<form class="form-inline" role="form">
						<div class="form-group">
							<label class="sr-only" for="email">Email:</label>
							<input type="email" class="form-control" id="email" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label class="sr-only" for="pwd">Password:</label>
							<input type="password" class="form-control" id="pwd" placeholder="Enter password">
						</div>
						<div class="checkbox">
							<label><input type="checkbox"> Remember me</label>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h2>Horizontal form: control states</h2>
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-2 control-label">Focused</label>
							<div class="col-sm-10">
								<input class="form-control" id="focusedInput" type="text" value="Click to focus...">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-2 control-label">Disabled</label>
							<div class="col-sm-10">
								<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
							</div>
						</div>
						<fieldset disabled>
							<div class="form-group">
								<label for="disabledTextInput" class="col-sm-2 control-label">Disabled input and select list (Fieldset disabled)</label>
								<div class="col-sm-10">
									<input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
								</div>
							</div>
							<div class="form-group">
								<label for="disabledSelect" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<select id="disabledSelect" class="form-control">
										<option>Disabled select</option>
									</select>
								</div>
							</div>
						</fieldset>
						<div class="form-group has-success has-feedback">
							<label class="col-sm-2 control-label" for="inputSuccess">Input with success and glyphicon</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputSuccess">
								<span class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-warning has-feedback">
							<label class="col-sm-2 control-label" for="inputWarning">Input with warning and glyphicon</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputWarning">
								<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-error has-feedback">
							<label class="col-sm-2 control-label" for="inputError">Input with error and glyphicon</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputError">
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="btn-group">
						<button type="button" class="btn btn-primary">Apple</button>
						<button type="button" class="btn btn-primary">Samsung</button>
						<button type="button" class="btn btn-primary">Sony</button>
					</div>
				</div>
			</div>
			-->
		</div>
		<div class="container-fluid">
			<div class="row">
				<iframe class="ads" src="http://www.nexus-pt.eu/ads.php" style="border: none; width: 738px; height: 130px; margin: 5px auto 0;display: block;"></iframe>
			</div>
			<div class="row">
				<div class="col-md-12"><br/></div>
			</div>
		</div>
	</body>
</html>
